<?xml version="1.0" encoding="utf-8" ?>
<resources>
  <item name="AniListAuthorizeUri" type="string">https://anilist.co/api/v2/oauth/authorize?client_id={0}&amp;redirect_uri={1}&amp;response_type=code</item>
  <item name="AniListAuthTokenUri" type="string">https://anilist.co/api/v2/oauth/token</item>
  <item name="NotificationsChannelName" type="string">AniList Notifications</item>
  <item name="NotificationsChannelId" type="string">ANILIST_NOTIFICATION_CHANNEL</item>
</resources>